.footer {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 3% 10%;
}

.logo-footer img{ 
    width: 30%;
}


.nav-menu { 
    display: flex;
    padding-top: 6%;
    gap: 3rem;
    font-size: 0.9rem;
}

.nav-menu-footer_iten { 
    padding-bottom: 2%;
    /* transition: 0.3s ease-in-out; */
}

.nav-menu-footer_iten:hover { 
    border-bottom: 2px solid var(--white);
    border-bottom-width: 80%;
    
}

.redes-copyright { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.redes-footer { 
    letter-spacing: 0.7rem;
    transition: ease-in-out 0.3s;

}

.redes-footer a:hover{
    border-bottom: 1px solid var(--white);
}

.copyright {
    color: var(--gray);
    font-size: 0.7rem; 
    line-height: 1rem;
}
/* .copyright a {
} */