body {
    font-family: "Alata", sans-serif;
    font-size: 1rem;
}

.div__header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    height: 95vh;
}

.header {
    color:var(--white);
    margin: 0 5%;
}

.image-logo {
    margin: 5% 0;
}

.header__div {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.nav_menu {
    align-items: center;
    display: flex;
    width: 40%;
}

.nav_menu_lista {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_menu_iten{
    color:var(--white);    
    padding-bottom: 8px;
    transition: 0.4s ease-out; 
}

.nav_menu_iten:hover{   
    border-bottom: 2px solid var(--white);
    transform: scale(1.2);
}

.header__div-title {
    align-items: center;
    display: flex;
    margin: 8% 5%;
    width: 40%;
}

.header_title {
    border: solid 2px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    padding: 4%;
    text-transform: uppercase;
}
